[Configuration]
# Adresse de la racine du forum (par exemple exemple.forumactif.fr)
url=

# Nom d'utilisateur de l'administrateur
admin_name=

# Mot de passe de l'administrateur
admin_password=

# Préfixe des tables de phpbb dans la base de donnée
table_prefix=phpbb_

# true pour utiliser la reconnaissance de caractère pour récupérer les
# adresses email des utilisateurs (évite d'attendre 24h en cas de
# bloquage, mais nécessite de vérifier manuellement les adresses).
use_ocr=true

# Chemin vers l'exécutable gocr
# Sous linux (et mac?) installer gocr et utiliser la ligne suivante
gocr=gocr
# Sous windows, télécharger l'exécutable gocr049.exe ici :
# http://jocr.sourceforge.net/download.html, le placer dans le dossier
# contenant le fichier config.cfg et utiliser la ligne suivante :
#gocr=gocr049.exe

# Numéro du thème temporaire (optionnel)
temporary_theme=

# Exporter les émoticones
export_smilies=true

# Réécrire les liens internes
# Permet d'éviter que des liens pointent vers votre ancien forum
rewrite_links=false

# Lien de votre nouveau forum (utilisé pour la réécriture des liens internes)
phpbb_url=

# Langue par défaut
default_lang=fr