[Forumactif]
# Adresse de la racine du forum (par exemple exemple.forumactif.fr)
url=

# Nom d'utilisateur de l'administrateur
admin_name=

# Mot de passe de l'administrateur
admin_password=

# Numéro du thème temporaire
temporary_theme=

[Exportation]
# Chemin vers l'exécutable de GOCR
gocr=gocr

# Exporter les émoticones
export_smilies=true

# Réécrire les liens internes
# Permet d'éviter que des liens pointent vers votre ancien forum
rewrite_links=false

[PhpBB]
# Adresse de votre nouveau forum (utilisé pour la réécriture des liens internes)
url=

# Préfixe des tables de phpbb dans la base de donnée
table_prefix=phpbb_

# Langue par défaut
default_lang=fr

[Groups]
# Nom du groupe des administrateurs
administrators=Administrateurs

# Nom du groupe des modérateurs globaux
global_moderators=Modérateurs